#board {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    margin: 0 auto;
  }

#board div {
    border: 1px solid white;
    flex: 1 1 auto;
    width: 48px; 
    height: 50px;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
}

  
.standard-tile {
  background-color: rgb(218, 218, 143);
}
.triple-word {
  background-color: rgb(202, 68, 51);
}
.triple-letter {
  background-color: rgb(0, 153, 255);
}
.double-word {
  background-color: pink;
}
.double-letter {
  background-color: cyan;
}
.centre-star {
  background-color: pink;
}

.centre-star span {
    height: 40px;
    width: 40px;
    font-size: 50px;
}