header{
    
    word-spacing: 8px;
    text-align: center;
    text-shadow: 1px 1px  rgb(2, 85, 81);
    font-weight: 500;
    font-family:'Girassol', cursive;    
    border-style: dotted;
    border-radius: 30px;
    border-color: cadetblue;
}

html {
    background: url('http://www.desktopwallpaperhd.net/wallpapers/3/1/wallpapers-desktop-random-backgrounds-filter-style-room-high-resolutions-39937.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
  }

.page-font{
    color: #D6FFE7;
}

.hidden {
  display: none;
}

.userform{
    margin-top: 5px;
    margin-bottom: 10px;     
}
input[type=text] {
    width: 15%;
    font-size: 20px;
    margin: 8px 0; 
    border: 2px dashed  #D6FFE7;
    border-radius: 30px;
    background-color: black;
}

#submit-user{
    width: 15%;
    font-size: 10px;
    background-color: black;
    position: relative;
    bottom: -200px;
    left: 550px;
}
#player-2{
    position: relative;
    left: 1050px;
    bottom:125px;
}

#player-1{
    position: relative;
    left: 30px;
    bottom:-15px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    margin: 0 auto;
  }

.deck {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 50px;
  margin: 0 auto;
}

.deck div {
  border: 1px solid white;
  flex: 1 1 auto;
  width: 48px; 
  height: 50px;
  text-align: center;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  line-height: 25px;
}

#board div {
    border: 1px solid white;
    flex: 1 1 auto;
    width: 48px; 
    height: 50px;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.deck-column {
  flex: 1 33%;
  margin: auto;
}

.board-column {
  margin: auto;
}

  
.standard-tile {
  background-color: rgb(218, 218, 143);
}
.triple-word {
  background-color: rgb(202, 68, 51);
}
.triple-letter {
  background-color: rgb(0, 153, 255);
}
.double-word {
  background-color: pink;
}
.double-letter {
  background-color: cyan;
}
.centre-star {
  background-color: pink;
}

.centre-star span {
    height: 40px;
    width: 40px;
    font-size: 30px;
    vertical-align: middle;
}


.table1, .tr1{
    position: fixed;
    font-size: 15px;
    left: 30px;
    bottom: 550px;
    border: 20px dashed  #D6FFE7;
    border-radius: 30px;
    border-width: medium ;
    background-color: black;
}

.stat1btn{
    position: fixed; 
    font-size: 13px;
    left: 30px;
    bottom: 515px;
    border: 3px dashed  #D6FFE7;
    border-radius: 30px;
    background-color: black; 
}

.table2, .tr2{
    position: fixed;
    font-size: 15px;
    left: 1270px;
    bottom: 550px;
    border: 20px dashed  #D6FFE7;
    border-radius: 30px;
    border-width: medium ;
    background-color: black;
}
.stat2btn{
    position: fixed; 
    font-size: 13px;
    left: 1330px;
    bottom: 515px;
    border: 3px dashed  #D6FFE7;
    border-radius: 30px;
    background-color: black; 
}